<div class="col-xs-11 col-xs-offset-1">
  <%= link_to "Add a Rather", new_question_path, id: "addARather", class: "btn btn-success addARather newQuestion", remote: true %>
</div>

<div class="col-xs-12">
  <h1 style="text-align:center;">Would you rather?</h1>
</div>

<% @questions.each do |q| %>
  <div class="row" style="margin-top: 24px;">
    <div class="col-xs-12">
      <h3 style="text-align:center;"><%= q.question %></h3>
    </div>
    <%= link_to q.optionOne, edit_question_path( q, "1" ), class: "col-xs-4 col-xs-offset-1 questionLeft" %>
    <%= link_to q.optionTwo, edit_question_path( q, "2" ), class: "col-xs-4 col-xs-offset-1 questionRight" %>
    <div class="col-xs-1 col-xs-offset-10">
      <p>By: <%= q.postedBy %></p>
    </div>
  </div>
<%end%>
