
<div class="col-xs-6 col-xs-offset-3">
  <%= form_for @question do |q| %>
    <h5><%= q.label "Question One", class: "label label-warning questionLabel" %> <br \></h5>
    <%= q.text_field :questionOne, class: "questionField" %> <br \>
    <h5><%= q.label "Question Two", class: "label label-warning questionLabel" %> <br \></h5>
    <%= q.text_field :questionTwo, class: "questionField" %> <br \>
    <%= q.submit "Add Question", class: "btn btn-lg btn-success questionButton" %>
  <%end%>
</div>
